*{
    margin: 0; 
    padding: 0;
}

header.header{
    background-color: gray;
    height: 60px;
    

    
}




/*Menu de navigation*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

}

nav li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-top: 5px;
}

nav li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bold;
}

nav li a:hover{
    color: white;
    transition: 0.5s;
}



/*barre de recherche*/
.recherche{
    width: 200px;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-top: 5px;
    outline: none;
}


body{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    max-width: 1100px;
    min-width: 1100px;
    margin: 3% auto;
    max-height: 1100px;
    min-height: 500px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

main{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    background-color:  rgb(254, 238, 234);
    
}
#background{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 4%;
    padding-top: 1em;
    
}

#title{
    font-size: 40px;
    font-weight: bold;
    font-family:fantasy;
    margin: auto;
}

#t-pres{
    display:flex;
    width: 90%;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #989898;
    line-height: 25px;
}


.images{
    display: flex;
    margin:auto;
    width: 92%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.img1{
    display: flex;
    flex: 1;
    padding: 5px 5px;
    margin: 3% 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}






.service{
    display: flex;
    justify-content: center;
    margin: 2% 3%;
    

}

.service-para{
    width: 30%;
    margin-right: 10px;
}
.titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
}

.titre h3{
    font-size: 13px;
    font-weight: bold;
    margin: 0 1%;
}
.titre img{
    width: 6%;  
    margin-right: 10px;
    
}

.para-service{
    font-size: 12px;
    text-align: justify;
    margin-right: 2%;
}
.para-service p{
    color: #989898;
}


#last-img{
    border-bottom: none;
}


footer{
    background-color: gray;
    height: 60px;
    
}

